:host {
    section {
        min-height: 100vh;
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;


        h2 {
            margin: 40px;
            margin-bottom: 0;
            color: white;
        }

        .newUser {
            padding: 6px 12px;
            background-color: rgb(238, 174, 202);
            color: rgb(70, 70, 70);
            border-radius: 50px;
            font-weight: 700;
            font-size: 22px;
            margin-right: -65%;
            margin-bottom: 20px;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 70%;
            margin-bottom: 1rem;
            border-radius: 0.95rem;
            overflow: hidden;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            text-align: center;

            th {
                background-color: #f2f2f2;
                font-weight: bold;
                padding: 0.75rem;
                border-bottom: 1px solid #ccc;
            }

            td {
                padding: 0.75rem;
                border-bottom: 1px solid #ccc;

                &:last-child {
                    border-right: 0px;
                }
            }

            tr:nth-child(odd) {
                background-color: #fafafa;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            &:hover {
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
            }

            button {
                background: none;
                cursor: pointer;
            }

            img {
                width: 25px;
                padding: 5px;
            }
        }
    }
}